header{
    background-color: rgb(200, 200, 200);
    border-bottom: 2px solid rgb(188, 132, 27);
    text-align: center;
}

.title-section{
    color: rgb(188, 132, 27);
}

main{
    border-bottom: 2px solid rgb(188, 132, 27);
    padding: 8px;
}